@font-face {
  font-family: 'iconfont';
  /* project id 805372 */
  src: url('//at.alicdn.com/t/font_805372_cupqn4j1nca.eot');
  src: url('//at.alicdn.com/t/font_805372_cupqn4j1nca.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_805372_cupqn4j1nca.woff') format('woff'),
    url('//at.alicdn.com/t/font_805372_cupqn4j1nca.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_805372_cupqn4j1nca.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 50rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baojin:before {
  content: "\e65b";
}

.icon-saoyisao:before {
  content: "\e63d";
}

.icon-sousuo:before {
  content: "\e60e";
}

.icon-cancel:before {
  content: "\e61a";
}

.icon-jiahao:before {
  content: "\e604";
}

.icon-jiahao1:before {
  content: "\e626";
}

.icon-bj:before {
  content: "\e624";
}

.icon-lajitongshanchu:before {
  content: "\e7f5";
}

.icon-shuaxin:before {
  content: "\e619";
}

.icon-gou:before {
  content: "\e60f";
}

.icon-sanjiao:before {
  content: "\e609";
}

.icon-cuowu:before {
  content: "\e80b";
}

.icon-jian:before {
  content: "\e693";
}

.icon-circle:before {
  content: "\e75d";
}